{
  "SECRET_KEY": "ganti-dengan-string-acak-panjang",
  "ADMIN_PASSWORD": "ganti-password-admin",
  "TELEGRAM_BOT_TOKEN": "123456789:GANTI-DENGAN-TOKEN-DARI-BOTFATHER",
  "TELEGRAM_CHAT_ID": "123456789"
}
